body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4569 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:223px;
  width:64px;
  height:20px;
  display:flex;
}
#u4569 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4569_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4570_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'NotoSansCJKsc-Regular', 'Noto Sans CJK SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4570_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'NotoSansCJKsc-Regular', 'Noto Sans CJK SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4570 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:219px;
  width:181px;
  height:25px;
  display:flex;
}
#u4570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4570_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4570.disabled {
}
#u4571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4571 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:266px;
  width:64px;
  height:20px;
  display:flex;
}
#u4571 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4571_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4572_input {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:115px;
  padding:3px 2px 3px 2px;
  font-family:'NotoSansCJKsc-Regular', 'Noto Sans CJK SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4572_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:115px;
  padding:3px 2px 3px 2px;
  font-family:'NotoSansCJKsc-Regular', 'Noto Sans CJK SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4572 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:263px;
  width:431px;
  height:115px;
  display:flex;
}
#u4572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4572_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:115px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4572.disabled {
}
#u4573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4573 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:408px;
  width:64px;
  height:20px;
  display:flex;
}
#u4573 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4573_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4574 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:948px;
  width:89px;
  height:40px;
  display:flex;
}
#u4574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4575 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:948px;
  width:89px;
  height:40px;
  display:flex;
}
#u4575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:1064px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4577 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:199px;
  height:1064px;
  display:flex;
}
#u4577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:1032px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u4578 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:54px;
  width:137px;
  height:1032px;
  display:flex;
  line-height:28px;
}
#u4578 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4579 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:44px;
  width:140px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u4579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4580 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:44px;
  width:140px;
  height:40px;
  display:flex;
  font-size:16px;
}
#u4580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:10px;
}
#u4581 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:47px;
  width:11px;
  height:10px;
  display:flex;
}
#u4581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:42px;
}
#u4583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:42px;
  display:flex;
}
#u4583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1701px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4584 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:84px;
  width:1701px;
  height:90px;
  display:flex;
}
#u4584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKsc-Bold', 'Noto Sans CJK SC Bold', 'Noto Sans CJK SC', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
}
#u4585 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:107px;
  width:183px;
  height:37px;
  display:flex;
  font-family:'NotoSansCJKsc-Bold', 'Noto Sans CJK SC Bold', 'Noto Sans CJK SC', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
}
#u4585 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4586 label {
  left:0px;
  width:100%;
}
#u4586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u4586 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:409px;
  width:63px;
  height:19px;
  display:flex;
}
#u4586 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4586_img.selected {
}
#u4586.selected {
}
#u4586_img.disabled {
}
#u4586.disabled {
}
#u4586_img.selectedDisabled {
}
#u4586.selectedDisabled {
}
#u4586_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:47px;
  word-wrap:break-word;
  text-transform:none;
}
#u4586_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4587 label {
  left:0px;
  width:100%;
}
#u4587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u4587 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:409px;
  width:66px;
  height:19px;
  display:flex;
}
#u4587 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4587_img.selected {
}
#u4587.selected {
}
#u4587_img.disabled {
}
#u4587.disabled {
}
#u4587_img.selectedDisabled {
}
#u4587.selectedDisabled {
}
#u4587_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:50px;
  word-wrap:break-word;
  text-transform:none;
}
#u4587_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u4588 label {
  left:0px;
  width:100%;
}
#u4588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u4588 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:409px;
  width:76px;
  height:19px;
  display:flex;
}
#u4588 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u4588_img.selected {
}
#u4588.selected {
}
#u4588_img.disabled {
}
#u4588.disabled {
}
#u4588_img.selectedDisabled {
}
#u4588.selectedDisabled {
}
#u4588_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:60px;
  word-wrap:break-word;
  text-transform:none;
}
#u4588_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
