body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1111px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6427 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:214px;
  width:64px;
  height:20px;
  display:flex;
}
#u6427 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6427_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6428_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'NotoSansCJKsc-Regular', 'Noto Sans CJK SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6428_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'NotoSansCJKsc-Regular', 'Noto Sans CJK SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6428 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:214px;
  width:180px;
  height:25px;
  display:flex;
}
#u6428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6428_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6428.disabled {
}
#u6429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6429 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:898px;
  width:140px;
  height:40px;
  display:flex;
}
#u6429 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6429_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6430 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:898px;
  width:140px;
  height:40px;
  display:flex;
}
#u6430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6431 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:271px;
  width:57px;
  height:20px;
  display:flex;
}
#u6431 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6431_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:283px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6432 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:271px;
  width:300px;
  height:283px;
  display:flex;
}
#u6432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6433 label {
  left:0px;
  width:100%;
}
#u6433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u6433 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:288px;
  width:100px;
  height:20px;
  display:flex;
}
#u6433 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u6433_img.selected {
}
#u6433.selected {
}
#u6433_img.disabled {
}
#u6433.disabled {
}
#u6433_img.selectedDisabled {
}
#u6433.selectedDisabled {
}
#u6433_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u6433_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u6434 label {
  left:0px;
  width:100%;
}
#u6434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u6434 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:315px;
  width:100px;
  height:20px;
  display:flex;
}
#u6434 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u6434_img.selected {
}
#u6434.selected {
}
#u6434_img.disabled {
}
#u6434.disabled {
}
#u6434_img.selectedDisabled {
}
#u6434.selectedDisabled {
}
#u6434_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u6434_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u6435 label {
  left:0px;
  width:100%;
}
#u6435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u6435 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:342px;
  width:100px;
  height:20px;
  display:flex;
}
#u6435 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u6435_img.selected {
}
#u6435.selected {
}
#u6435_img.disabled {
}
#u6435.disabled {
}
#u6435_img.selectedDisabled {
}
#u6435.selectedDisabled {
}
#u6435_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u6435_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u6436 label {
  left:0px;
  width:100%;
}
#u6436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u6436 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:366px;
  width:100px;
  height:20px;
  display:flex;
}
#u6436 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u6436_img.selected {
}
#u6436.selected {
}
#u6436_img.disabled {
}
#u6436.disabled {
}
#u6436_img.selectedDisabled {
}
#u6436.selectedDisabled {
}
#u6436_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u6436_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u6437 label {
  left:0px;
  width:100%;
}
#u6437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u6437 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:393px;
  width:100px;
  height:20px;
  display:flex;
}
#u6437 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u6437_img.selected {
}
#u6437.selected {
}
#u6437_img.disabled {
}
#u6437.disabled {
}
#u6437_img.selectedDisabled {
}
#u6437.selectedDisabled {
}
#u6437_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u6437_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u6438 label {
  left:0px;
  width:100%;
}
#u6438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u6438 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:440px;
  width:100px;
  height:20px;
  display:flex;
}
#u6438 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u6438_img.selected {
}
#u6438.selected {
}
#u6438_img.disabled {
}
#u6438.disabled {
}
#u6438_img.selectedDisabled {
}
#u6438.selectedDisabled {
}
#u6438_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u6438_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u6439 label {
  left:0px;
  width:100%;
}
#u6439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u6439 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:414px;
  width:100px;
  height:20px;
  display:flex;
}
#u6439 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u6439_img.selected {
}
#u6439.selected {
}
#u6439_img.disabled {
}
#u6439.disabled {
}
#u6439_img.selectedDisabled {
}
#u6439.selectedDisabled {
}
#u6439_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u6439_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u6440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6440 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:699px;
  width:29px;
  height:20px;
  display:flex;
}
#u6440 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6440_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6441_input {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:137px;
  padding:3px 2px 3px 2px;
  font-family:'NotoSansCJKsc-Regular', 'Noto Sans CJK SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6441_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:137px;
  padding:3px 2px 3px 2px;
  font-family:'NotoSansCJKsc-Regular', 'Noto Sans CJK SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6441 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:699px;
  width:549px;
  height:137px;
  display:flex;
}
#u6441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6441_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:137px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6441.disabled {
}
#u6442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6442 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:595px;
  width:64px;
  height:20px;
  display:flex;
}
#u6442 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6442_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6443_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  padding:3px 2px 3px 2px;
  font-family:'NotoSansCJKsc-Regular', 'Noto Sans CJK SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6443_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  padding:3px 2px 3px 2px;
  font-family:'NotoSansCJKsc-Regular', 'Noto Sans CJK SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6443 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:593px;
  width:180px;
  height:22px;
  display:flex;
}
#u6443 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6443_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6443.disabled {
}
.u6443_input_option {
}
#u6444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6444 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:644px;
  width:64px;
  height:18px;
  display:flex;
}
#u6444 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6444_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6445 label {
  left:0px;
  width:100%;
}
#u6445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u6445 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:646px;
  width:63px;
  height:20px;
  display:flex;
}
#u6445 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u6445_img.selected {
}
#u6445.selected {
}
#u6445_img.disabled {
}
#u6445.disabled {
}
#u6445_img.selectedDisabled {
}
#u6445.selectedDisabled {
}
#u6445_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:47px;
  word-wrap:break-word;
  text-transform:none;
}
#u6445_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u6446 label {
  left:0px;
  width:100%;
}
#u6446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u6446 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:646px;
  width:45px;
  height:20px;
  display:flex;
}
#u6446 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u6446_img.selected {
}
#u6446.selected {
}
#u6446_img.disabled {
}
#u6446.disabled {
}
#u6446_img.selectedDisabled {
}
#u6446.selectedDisabled {
}
#u6446_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:29px;
  word-wrap:break-word;
  text-transform:none;
}
#u6446_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u6447 label {
  left:0px;
  width:100%;
}
#u6447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u6447 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:646px;
  width:45px;
  height:20px;
  display:flex;
}
#u6447 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u6447_img.selected {
}
#u6447.selected {
}
#u6447_img.disabled {
}
#u6447.disabled {
}
#u6447_img.selectedDisabled {
}
#u6447.selectedDisabled {
}
#u6447_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:29px;
  word-wrap:break-word;
  text-transform:none;
}
#u6447_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u6448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NotoSansCJKsc-Bold', 'Noto Sans CJK SC Bold', 'Noto Sans CJK SC', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
}
#u6448 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:108px;
  width:183px;
  height:33px;
  display:flex;
  font-family:'NotoSansCJKsc-Bold', 'Noto Sans CJK SC Bold', 'Noto Sans CJK SC', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
}
#u6448 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
