body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1232px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:160px;
  background:inherit;
  background-color:rgba(194, 200, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u8112 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:32px;
  width:1200px;
  height:160px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u8112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8113 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:100px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8114 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:100px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8115 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:100px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:160px;
  background:inherit;
  background-color:rgba(194, 200, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u8116 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:200px;
  width:1200px;
  height:160px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u8116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8117 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:268px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8118 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:268px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8119 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:268px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8120 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:268px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF3399;
  line-height:18px;
}
#u8121 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:40px;
  width:306px;
  height:26px;
  display:flex;
  font-size:14px;
  color:#FF3399;
  line-height:18px;
}
#u8121 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 4px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u8121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#555555;
  text-align:center;
}
#u8122 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:308px;
  width:57px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#555555;
  text-align:center;
}
#u8122 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8122_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:320px;
  background:inherit;
  background-color:rgba(194, 200, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u8123 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:368px;
  width:1200px;
  height:320px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u8123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF3399;
  line-height:18px;
}
#u8124 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:208px;
  width:312px;
  height:80px;
  display:flex;
  font-size:14px;
  color:#FF3399;
  line-height:18px;
}
#u8124 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 4px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u8124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8125 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:100px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#555555;
  text-align:center;
}
#u8126 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:140px;
  width:57px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#555555;
  text-align:center;
}
#u8126 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8126_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#555555;
  text-align:center;
}
#u8127 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:140px;
  width:57px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#555555;
  text-align:center;
}
#u8127 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8127_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8128 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:288px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u8128_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:85px;
  height:10px;
}
#u8128_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-9px;
  width:19px;
  height:18px;
}
#u8128_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u8129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8129 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:384px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8130 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:568px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8131 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:504px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8132 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:440px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8133 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:440px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8134 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:504px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8135 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:440px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8136 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:504px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8137 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:440px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8138 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:504px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8139 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:568px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8140 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:632px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:184px;
}
#u8141 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:432px;
  width:160px;
  height:184px;
  display:flex;
}
#u8141 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
