body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1232px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:160px;
  background:inherit;
  background-color:rgba(194, 200, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u8189 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:32px;
  width:1200px;
  height:160px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u8189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8190 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:100px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8191 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:100px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8192 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:100px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:160px;
  background:inherit;
  background-color:rgba(194, 200, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u8193 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:200px;
  width:1200px;
  height:160px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u8193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8194 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:268px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8195 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:268px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8196 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:268px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8197 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:268px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF3399;
  line-height:18px;
}
#u8198 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:40px;
  width:306px;
  height:26px;
  display:flex;
  font-size:14px;
  color:#FF3399;
  line-height:18px;
}
#u8198 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 4px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u8198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#555555;
  text-align:center;
}
#u8199 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:308px;
  width:57px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#555555;
  text-align:center;
}
#u8199 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8199_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:320px;
  background:inherit;
  background-color:rgba(194, 200, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u8200 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:368px;
  width:1200px;
  height:320px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u8200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF3399;
  line-height:18px;
}
#u8201 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:208px;
  width:312px;
  height:80px;
  display:flex;
  font-size:14px;
  color:#FF3399;
  line-height:18px;
}
#u8201 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 4px 4px 8px;
  box-sizing:border-box;
  width:100%;
}
#u8201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8202 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:100px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#555555;
  text-align:center;
}
#u8203 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:140px;
  width:57px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#555555;
  text-align:center;
}
#u8203 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8203_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#555555;
  text-align:center;
}
#u8204 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:140px;
  width:57px;
  height:20px;
  display:flex;
  font-size:14px;
  color:#555555;
  text-align:center;
}
#u8204 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8204_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8205 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:288px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u8205_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:85px;
  height:10px;
}
#u8205_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-9px;
  width:19px;
  height:18px;
}
#u8205_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u8206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8206 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:384px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8207 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:568px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8208 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:504px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8209 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:440px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8210 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:440px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8211 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:504px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8212 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:440px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8213 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:504px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8214 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:440px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8215 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:504px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8216 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:568px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u8217 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:632px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u8217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:184px;
}
#u8218 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:432px;
  width:160px;
  height:184px;
  display:flex;
}
#u8218 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
