body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:955px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:955px;
  display:flex;
}
#u8707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1296px;
  height:842px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u8708 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:88px;
  width:1296px;
  height:842px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u8708 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8709 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:88px;
  width:32px;
  height:56px;
}
#u8709_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:56px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8709_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8710 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:898px;
  width:32px;
  height:32px;
}
#u8710_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8710_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8711 {
  border-width:0px;
  position:absolute;
  left:1544px;
  top:898px;
  width:32px;
  height:32px;
}
#u8711_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8711_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8712 {
  border-width:0px;
  position:absolute;
  left:1544px;
  top:88px;
  width:32px;
  height:56px;
}
#u8712_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:56px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8712_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1344px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8714 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:1344px;
  height:64px;
  display:flex;
}
#u8714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u8715 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:25px;
  width:20px;
  height:15px;
  display:flex;
}
#u8715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8716 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8717 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:20px;
  width:24px;
  height:24px;
  display:flex;
}
#u8717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u8718 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:0px;
  width:120px;
  height:64px;
  display:flex;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u8718 .text {
  position:absolute;
  align-self:center;
  padding:8px 0px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u8718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u8719 {
  border-width:0px;
  position:absolute;
  left:1560px;
  top:22px;
  width:16px;
  height:21px;
  display:flex;
}
#u8719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:955px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:955px;
  display:flex;
}
#u8721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u8723 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:31px;
  height:32px;
  display:flex;
}
#u8723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u8724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:64px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u8724 .text {
  position:absolute;
  align-self:center;
  padding:8px 0px 0px 56px;
  box-sizing:border-box;
  width:100%;
}
#u8724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:272px;
  height:891px;
}
#u8725_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:891px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8725_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:1320px;
}
#u8728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u8728 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u8728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8729_img.mouseOver {
}
#u8729.mouseOver {
}
#u8729_img.selected {
}
#u8729.selected {
}
#u8729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8730_img.mouseOver {
}
#u8730.mouseOver {
}
#u8730_img.selected {
}
#u8730.selected {
}
#u8730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u8731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u8731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8732 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8732_img.mouseOver {
}
#u8732.mouseOver {
}
#u8732_img.selected {
}
#u8732.selected {
}
#u8732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8733 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:232px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8733_img.mouseOver {
}
#u8733.mouseOver {
}
#u8733_img.selected {
}
#u8733.selected {
}
#u8733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8734 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:272px;
  width:256px;
  height:40px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u8734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8734_img.mouseOver {
}
#u8734.mouseOver {
}
#u8734_img.selected {
}
#u8734.selected {
}
#u8734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8735 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:312px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8735_img.mouseOver {
}
#u8735.mouseOver {
}
#u8735_img.selected {
}
#u8735.selected {
}
#u8735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8736 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:352px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8736_img.mouseOver {
}
#u8736.mouseOver {
}
#u8736_img.selected {
}
#u8736.selected {
}
#u8736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u8737 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:392px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u8737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8738 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:448px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8738_img.mouseOver {
}
#u8738.mouseOver {
}
#u8738_img.selected {
}
#u8738.selected {
}
#u8738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8739 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:488px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8739_img.mouseOver {
}
#u8739.mouseOver {
}
#u8739_img.selected {
}
#u8739.selected {
}
#u8739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:528px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8740_img.mouseOver {
}
#u8740.mouseOver {
}
#u8740_img.selected {
}
#u8740.selected {
}
#u8740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8741 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:568px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8741_img.mouseOver {
}
#u8741.mouseOver {
}
#u8741_img.selected {
}
#u8741.selected {
}
#u8741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8742 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:608px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8742 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8742_img.mouseOver {
}
#u8742.mouseOver {
}
#u8742_img.selected {
}
#u8742.selected {
}
#u8742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u8743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:648px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u8743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:704px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8744_img.mouseOver {
}
#u8744.mouseOver {
}
#u8744_img.selected {
}
#u8744.selected {
}
#u8744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:744px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8745_img.mouseOver {
}
#u8745.mouseOver {
}
#u8745_img.selected {
}
#u8745.selected {
}
#u8745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8746 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:784px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8746_img.mouseOver {
}
#u8746.mouseOver {
}
#u8746_img.selected {
}
#u8746.selected {
}
#u8746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:824px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8747_img.mouseOver {
}
#u8747.mouseOver {
}
#u8747_img.selected {
}
#u8747.selected {
}
#u8747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:864px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8748_img.mouseOver {
}
#u8748.mouseOver {
}
#u8748_img.selected {
}
#u8748.selected {
}
#u8748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:904px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8749_img.mouseOver {
}
#u8749.mouseOver {
}
#u8749_img.selected {
}
#u8749.selected {
}
#u8749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8750 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:944px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8750_img.mouseOver {
}
#u8750.mouseOver {
}
#u8750_img.selected {
}
#u8750.selected {
}
#u8750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8751 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:984px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8751_img.mouseOver {
}
#u8751.mouseOver {
}
#u8751_img.selected {
}
#u8751.selected {
}
#u8751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u8752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1024px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u8752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1080px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8753_img.mouseOver {
}
#u8753.mouseOver {
}
#u8753_img.selected {
}
#u8753.selected {
}
#u8753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1120px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1160px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8755_img.mouseOver {
}
#u8755.mouseOver {
}
#u8755_img.selected {
}
#u8755.selected {
}
#u8755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1200px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8756_img.mouseOver {
}
#u8756.mouseOver {
}
#u8756_img.selected {
}
#u8756.selected {
}
#u8756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8757 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1240px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8757_img.mouseOver {
}
#u8757.mouseOver {
}
#u8757_img.selected {
}
#u8757.selected {
}
#u8757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8758 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1280px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8758_img.mouseOver {
}
#u8758.mouseOver {
}
#u8758_img.selected {
}
#u8758.selected {
}
#u8758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8759_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:263px;
  height:8px;
}
#u8759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:256px;
  height:1px;
  display:flex;
}
#u8759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1297px;
  height:2px;
}
#u8762 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:119px;
  width:1296px;
  height:1px;
  display:flex;
}
#u8762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8763 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8763 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8763_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8763.selected {
}
#u8763_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u8764 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u8764 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8765 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8765 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8765_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8765.selected {
}
#u8765_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u8766 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u8766 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8767 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8767 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8767_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8767.selected {
}
#u8767_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u8768 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u8768 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8769 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8769 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8769_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8769.selected {
}
#u8769_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u8770 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u8770 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8771 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8771 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8771_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8771.selected {
}
#u8771_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u8772 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u8772 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8773 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8773 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8773_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8773.selected {
}
#u8773_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u8774 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u8774 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:rgba(85, 85, 85, 0.647058823529412);
  line-height:22px;
}
#u8775 {
  border-width:0px;
  position:absolute;
  left:1544px;
  top:88px;
  width:32px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:rgba(85, 85, 85, 0.647058823529412);
  line-height:22px;
}
#u8775 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8776 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8776 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8776_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8776.selected {
}
#u8776_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u8777 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u8777 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8778 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8778 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8778_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8778.selected {
}
#u8778_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u8779 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u8779 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8780 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:144px;
  width:1232px;
  height:180px;
}
#u8781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u8781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  display:flex;
  font-family:'NotoSansCJKsc-Bold', 'Noto Sans CJK SC Bold', 'Noto Sans CJK SC', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u8781 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u8782 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u8782 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u8783 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:0px;
  width:160px;
  height:40px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u8783 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u8784 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:0px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u8784 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:40px;
}
#u8785 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:532px;
  height:40px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u8785 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:140px;
}
#u8786 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:320px;
  height:140px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u8786 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:140px;
}
#u8787 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:40px;
  width:100px;
  height:140px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u8787 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:140px;
}
#u8788 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:40px;
  width:160px;
  height:140px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u8788 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:140px;
}
#u8789 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:40px;
  width:120px;
  height:140px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u8789 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:140px;
}
#u8790 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:40px;
  width:532px;
  height:140px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u8790 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u8791 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:184px;
  width:400px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u8791 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 5px 12px;
  box-sizing:border-box;
  width:100%;
}
#u8791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:104px;
}
#u8793 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:184px;
  width:104px;
  height:104px;
  display:flex;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u8793 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8794 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:220px;
  width:24px;
  height:24px;
  display:flex;
}
#u8794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u8796 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:324px;
  width:100px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u8796 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u8796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u8797 {
  border-width:0px;
  position:absolute;
  left:948px;
  top:324px;
  width:100px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u8797 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u8797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
