body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:955px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:955px;
  display:flex;
}
#u5154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1296px;
  height:842px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u5155 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:88px;
  width:1296px;
  height:842px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u5155 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5156 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:88px;
  width:32px;
  height:56px;
}
#u5156_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:56px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5156_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5157 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:898px;
  width:32px;
  height:32px;
}
#u5157_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5157_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5158 {
  border-width:0px;
  position:absolute;
  left:1544px;
  top:898px;
  width:32px;
  height:32px;
}
#u5158_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5158_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5159 {
  border-width:0px;
  position:absolute;
  left:1544px;
  top:88px;
  width:32px;
  height:56px;
}
#u5159_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:56px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5159_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1344px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5161 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:1344px;
  height:64px;
  display:flex;
}
#u5161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u5162 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:25px;
  width:20px;
  height:15px;
  display:flex;
}
#u5162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5164 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:20px;
  width:24px;
  height:24px;
  display:flex;
}
#u5164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u5165 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:0px;
  width:120px;
  height:64px;
  display:flex;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u5165 .text {
  position:absolute;
  align-self:center;
  padding:8px 0px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u5165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u5166 {
  border-width:0px;
  position:absolute;
  left:1560px;
  top:22px;
  width:16px;
  height:21px;
  display:flex;
}
#u5166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:955px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:955px;
  display:flex;
}
#u5168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u5170 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:31px;
  height:32px;
  display:flex;
}
#u5170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u5171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:64px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u5171 .text {
  position:absolute;
  align-self:center;
  padding:8px 0px 0px 56px;
  box-sizing:border-box;
  width:100%;
}
#u5171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:272px;
  height:891px;
}
#u5172_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:891px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5172_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:1416px;
}
#u5175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u5175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u5175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u5176_img.mouseOver {
}
#u5176.mouseOver {
}
#u5176_img.selected {
}
#u5176.selected {
}
#u5176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u5177_img.mouseOver {
}
#u5177.mouseOver {
}
#u5177_img.selected {
}
#u5177.selected {
}
#u5177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u5178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u5178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u5179_img.mouseOver {
}
#u5179.mouseOver {
}
#u5179_img.selected {
}
#u5179.selected {
}
#u5179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:232px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u5180_img.mouseOver {
}
#u5180.mouseOver {
}
#u5180_img.selected {
}
#u5180.selected {
}
#u5180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:272px;
  width:256px;
  height:40px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u5181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u5181_img.mouseOver {
}
#u5181.mouseOver {
}
#u5181_img.selected {
}
#u5181.selected {
}
#u5181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:312px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u5182_img.mouseOver {
}
#u5182.mouseOver {
}
#u5182_img.selected {
}
#u5182.selected {
}
#u5182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u5183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:352px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u5183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:408px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u5184_img.mouseOver {
}
#u5184.mouseOver {
}
#u5184_img.selected {
}
#u5184.selected {
}
#u5184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:448px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u5185_img.mouseOver {
}
#u5185.mouseOver {
}
#u5185_img.selected {
}
#u5185.selected {
}
#u5185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:488px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u5186_img.mouseOver {
}
#u5186.mouseOver {
}
#u5186_img.selected {
}
#u5186.selected {
}
#u5186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:528px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u5187_img.mouseOver {
}
#u5187.mouseOver {
}
#u5187_img.selected {
}
#u5187.selected {
}
#u5187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u5188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:568px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u5188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:624px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u5189_img.mouseOver {
}
#u5189.mouseOver {
}
#u5189_img.selected {
}
#u5189.selected {
}
#u5189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:664px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u5190_img.mouseOver {
}
#u5190.mouseOver {
}
#u5190_img.selected {
}
#u5190.selected {
}
#u5190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:704px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u5191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:744px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u5192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:784px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u5193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:824px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u5194_img.mouseOver {
}
#u5194.mouseOver {
}
#u5194_img.selected {
}
#u5194.selected {
}
#u5194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:864px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u5195_img.mouseOver {
}
#u5195.mouseOver {
}
#u5195_img.selected {
}
#u5195.selected {
}
#u5195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:904px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u5196_img.mouseOver {
}
#u5196.mouseOver {
}
#u5196_img.selected {
}
#u5196.selected {
}
#u5196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u5197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:944px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u5197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1000px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u5198_img.mouseOver {
}
#u5198.mouseOver {
}
#u5198_img.selected {
}
#u5198.selected {
}
#u5198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1040px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u5199_img.mouseOver {
}
#u5199.mouseOver {
}
#u5199_img.selected {
}
#u5199.selected {
}
#u5199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1080px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u5200_img.mouseOver {
}
#u5200.mouseOver {
}
#u5200_img.selected {
}
#u5200.selected {
}
#u5200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u5201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1120px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u5201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1176px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u5202_img.mouseOver {
}
#u5202.mouseOver {
}
#u5202_img.selected {
}
#u5202.selected {
}
#u5202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1216px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u5203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1256px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5204_img.mouseOver {
}
#u5204.mouseOver {
}
#u5204_img.selected {
}
#u5204.selected {
}
#u5204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1296px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5205_img.mouseOver {
}
#u5205.mouseOver {
}
#u5205_img.selected {
}
#u5205.selected {
}
#u5205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1336px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5206_img.mouseOver {
}
#u5206.mouseOver {
}
#u5206_img.selected {
}
#u5206.selected {
}
#u5206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u5207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1376px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u5207_img.mouseOver {
}
#u5207.mouseOver {
}
#u5207_img.selected {
}
#u5207.selected {
}
#u5207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5208_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:263px;
  height:8px;
}
#u5208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:256px;
  height:1px;
  display:flex;
}
#u5208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1297px;
  height:2px;
}
#u5211 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:119px;
  width:1296px;
  height:1px;
  display:flex;
}
#u5211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5212 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5212 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5212_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5212.selected {
}
#u5212_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u5213 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u5213 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5214 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5214 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5214_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5214.selected {
}
#u5214_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u5215 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u5215 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5216 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5216 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5216_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5216.selected {
}
#u5216_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u5217 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u5217 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5218 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5218 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5218_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5218.selected {
}
#u5218_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u5219 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u5219 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5220 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5220 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5220_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5220.selected {
}
#u5220_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u5221 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u5221 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5222 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5222 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5222_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5222.selected {
}
#u5222_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u5223 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u5223 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:rgba(85, 85, 85, 0.647058823529412);
  line-height:22px;
}
#u5224 {
  border-width:0px;
  position:absolute;
  left:1544px;
  top:88px;
  width:32px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:rgba(85, 85, 85, 0.647058823529412);
  line-height:22px;
}
#u5224 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5225 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5225 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5225_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5225.selected {
}
#u5225_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u5226 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u5226 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5227 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5227 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5227_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5227.selected {
}
#u5227_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u5228 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u5228 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
