body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1232px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:160px;
  background:inherit;
  background-color:rgba(194, 200, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u10009 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:32px;
  width:1200px;
  height:160px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u10009 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u10009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:160px;
  background:inherit;
  background-color:rgba(194, 200, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u10010 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:200px;
  width:1200px;
  height:160px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u10010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u10010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u10011 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:260px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u10011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u10012 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:260px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u10012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:336px;
  background:inherit;
  background-color:rgba(194, 200, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u10013 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:368px;
  width:1200px;
  height:336px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u10013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u10013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u10014 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:304px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u10014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u10015 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:304px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u10015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10016 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:280px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u10016_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:85px;
  height:10px;
}
#u10016_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-9px;
  width:19px;
  height:18px;
}
#u10016_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10017 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:324px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u10017_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:85px;
  height:10px;
}
#u10017_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-9px;
  width:19px;
  height:18px;
}
#u10017_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 112, 146, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#F2F2F2;
}
#u10018 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:224px;
  width:120px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#F2F2F2;
}
#u10018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10019 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:264px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u10019_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:45px;
}
#u10019_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:27px;
  width:18px;
  height:19px;
}
#u10019_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
