body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:955px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:955px;
  display:flex;
}
#u14423 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1296px;
  height:842px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u14424 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:88px;
  width:1296px;
  height:842px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u14424 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u14424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14425 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:88px;
  width:32px;
  height:56px;
}
#u14425_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:56px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14425_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14426 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:898px;
  width:32px;
  height:32px;
}
#u14426_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14426_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14427 {
  border-width:0px;
  position:absolute;
  left:1544px;
  top:898px;
  width:32px;
  height:32px;
}
#u14427_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14427_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14428 {
  border-width:0px;
  position:absolute;
  left:1544px;
  top:88px;
  width:32px;
  height:56px;
}
#u14428_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:56px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14428_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1344px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14430 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:1344px;
  height:64px;
  display:flex;
}
#u14430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u14431 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:25px;
  width:20px;
  height:15px;
  display:flex;
}
#u14431 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u14433 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:20px;
  width:24px;
  height:24px;
  display:flex;
}
#u14433 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u14434 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:0px;
  width:120px;
  height:64px;
  display:flex;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u14434 .text {
  position:absolute;
  align-self:center;
  padding:8px 0px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u14434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u14435 {
  border-width:0px;
  position:absolute;
  left:1560px;
  top:22px;
  width:16px;
  height:21px;
  display:flex;
}
#u14435 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:955px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:955px;
  display:flex;
}
#u14437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u14439 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:31px;
  height:32px;
  display:flex;
}
#u14439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u14440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:64px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u14440 .text {
  position:absolute;
  align-self:center;
  padding:8px 0px 0px 56px;
  box-sizing:border-box;
  width:100%;
}
#u14440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:272px;
  height:891px;
}
#u14441_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:891px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14441_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:1280px;
}
#u14444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u14444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u14444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u14445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u14445_img.mouseOver {
}
#u14445.mouseOver {
}
#u14445_img.selected {
}
#u14445.selected {
}
#u14445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u14446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14446 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u14446_img.mouseOver {
}
#u14446.mouseOver {
}
#u14446_img.selected {
}
#u14446.selected {
}
#u14446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u14447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u14447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u14448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u14448_img.mouseOver {
}
#u14448.mouseOver {
}
#u14448_img.selected {
}
#u14448.selected {
}
#u14448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u14449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:232px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u14449_img.mouseOver {
}
#u14449.mouseOver {
}
#u14449_img.selected {
}
#u14449.selected {
}
#u14449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u14450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:272px;
  width:256px;
  height:40px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u14450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u14450_img.mouseOver {
}
#u14450.mouseOver {
}
#u14450_img.selected {
}
#u14450.selected {
}
#u14450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u14451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:312px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u14451_img.mouseOver {
}
#u14451.mouseOver {
}
#u14451_img.selected {
}
#u14451.selected {
}
#u14451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u14452 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:352px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u14452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u14453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:408px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u14453_img.mouseOver {
}
#u14453.mouseOver {
}
#u14453_img.selected {
}
#u14453.selected {
}
#u14453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u14454 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:448px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u14454_img.mouseOver {
}
#u14454.mouseOver {
}
#u14454_img.selected {
}
#u14454.selected {
}
#u14454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u14455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:488px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u14455_img.mouseOver {
}
#u14455.mouseOver {
}
#u14455_img.selected {
}
#u14455.selected {
}
#u14455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u14456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:528px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u14456_img.mouseOver {
}
#u14456.mouseOver {
}
#u14456_img.selected {
}
#u14456.selected {
}
#u14456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u14457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:568px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u14457_img.mouseOver {
}
#u14457.mouseOver {
}
#u14457_img.selected {
}
#u14457.selected {
}
#u14457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u14458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:608px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u14458 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u14459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:664px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u14459_img.mouseOver {
}
#u14459.mouseOver {
}
#u14459_img.selected {
}
#u14459.selected {
}
#u14459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u14460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:704px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u14460_img.mouseOver {
}
#u14460.mouseOver {
}
#u14460_img.selected {
}
#u14460.selected {
}
#u14460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u14461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:744px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u14461_img.mouseOver {
}
#u14461.mouseOver {
}
#u14461_img.selected {
}
#u14461.selected {
}
#u14461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u14462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:784px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u14462_img.mouseOver {
}
#u14462.mouseOver {
}
#u14462_img.selected {
}
#u14462.selected {
}
#u14462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u14463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:824px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u14463_img.mouseOver {
}
#u14463.mouseOver {
}
#u14463_img.selected {
}
#u14463.selected {
}
#u14463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u14464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:864px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u14464_img.mouseOver {
}
#u14464.mouseOver {
}
#u14464_img.selected {
}
#u14464.selected {
}
#u14464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u14465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:904px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u14465_img.mouseOver {
}
#u14465.mouseOver {
}
#u14465_img.selected {
}
#u14465.selected {
}
#u14465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u14466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:944px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u14466_img.mouseOver {
}
#u14466.mouseOver {
}
#u14466_img.selected {
}
#u14466.selected {
}
#u14466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u14467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:984px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u14467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u14468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1040px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u14468_img.mouseOver {
}
#u14468.mouseOver {
}
#u14468_img.selected {
}
#u14468.selected {
}
#u14468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u14469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1080px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u14469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u14470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1120px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u14470_img.mouseOver {
}
#u14470.mouseOver {
}
#u14470_img.selected {
}
#u14470.selected {
}
#u14470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u14471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1160px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u14471_img.mouseOver {
}
#u14471.mouseOver {
}
#u14471_img.selected {
}
#u14471.selected {
}
#u14471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u14472 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1200px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u14472_img.mouseOver {
}
#u14472.mouseOver {
}
#u14472_img.selected {
}
#u14472.selected {
}
#u14472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u14473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1240px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u14473_img.mouseOver {
}
#u14473.mouseOver {
}
#u14473_img.selected {
}
#u14473.selected {
}
#u14473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14474_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:263px;
  height:8px;
}
#u14474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:256px;
  height:1px;
  display:flex;
}
#u14474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1297px;
  height:2px;
}
#u14477 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:119px;
  width:1296px;
  height:1px;
  display:flex;
}
#u14477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u14478 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u14478 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u14478_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u14478.selected {
}
#u14478_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u14479 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u14479 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u14480 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u14480 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u14480_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u14480.selected {
}
#u14480_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u14481 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u14481 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u14482 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u14482 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u14482_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u14482.selected {
}
#u14482_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u14483 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u14483 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u14484 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u14484 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u14484_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u14484.selected {
}
#u14484_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u14485 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u14485 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u14486 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u14486 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u14486_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u14486.selected {
}
#u14486_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u14487 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u14487 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u14488 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u14488 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u14488_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u14488.selected {
}
#u14488_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u14489 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u14489 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:rgba(85, 85, 85, 0.647058823529412);
  line-height:22px;
}
#u14490 {
  border-width:0px;
  position:absolute;
  left:1544px;
  top:88px;
  width:32px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:rgba(85, 85, 85, 0.647058823529412);
  line-height:22px;
}
#u14490 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u14491 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u14491 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u14491_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u14491.selected {
}
#u14491_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u14492 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u14492 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u14493 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u14493 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u14493_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u14493.selected {
}
#u14493_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u14494 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u14494 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:891px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14495 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:64px;
  width:1320px;
  height:891px;
  display:flex;
}
#u14495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14496 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:292px;
}
#u14497 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:364px;
  width:243px;
  height:292px;
  display:flex;
}
#u14497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14498 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14499 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:68px;
}
#u14500 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:410px;
  width:153px;
  height:68px;
  display:flex;
}
#u14500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:28px;
}
#u14501 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:478px;
  width:221px;
  height:68px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:28px;
}
#u14501 .text {
  position:absolute;
  align-self:flex-start;
  padding:24px 0px 16px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14501_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u14502 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:546px;
  width:89px;
  height:32px;
  display:flex;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u14502 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u14502_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
