body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:955px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:955px;
  display:flex;
}
#u4424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4424_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1296px;
  height:842px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u4425 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:88px;
  width:1296px;
  height:842px;
  display:flex;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u4425 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u4425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4426 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:88px;
  width:32px;
  height:56px;
}
#u4426_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:56px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4426_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4427 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:898px;
  width:32px;
  height:32px;
}
#u4427_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4427_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4428 {
  border-width:0px;
  position:absolute;
  left:1544px;
  top:898px;
  width:32px;
  height:32px;
}
#u4428_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4428_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4429 {
  border-width:0px;
  position:absolute;
  left:1544px;
  top:88px;
  width:32px;
  height:56px;
}
#u4429_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:56px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4429_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1344px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4431 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:1344px;
  height:64px;
  display:flex;
}
#u4431 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u4432 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:25px;
  width:20px;
  height:15px;
  display:flex;
}
#u4432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4434 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:20px;
  width:24px;
  height:24px;
  display:flex;
}
#u4434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u4435 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:0px;
  width:120px;
  height:64px;
  display:flex;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u4435 .text {
  position:absolute;
  align-self:center;
  padding:8px 0px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u4435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u4436 {
  border-width:0px;
  position:absolute;
  left:1560px;
  top:22px;
  width:16px;
  height:21px;
  display:flex;
}
#u4436 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:955px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:955px;
  display:flex;
}
#u4438 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u4440 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:31px;
  height:32px;
  display:flex;
}
#u4440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u4441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:64px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u4441 .text {
  position:absolute;
  align-self:center;
  padding:8px 0px 0px 56px;
  box-sizing:border-box;
  width:100%;
}
#u4441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:272px;
  height:891px;
}
#u4442_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:891px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4442_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:1536px;
}
#u4445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u4445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u4445 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4446 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u4446_img.mouseOver {
}
#u4446.mouseOver {
}
#u4446_img.selected {
}
#u4446.selected {
}
#u4446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u4447_img.mouseOver {
}
#u4447.mouseOver {
}
#u4447_img.selected {
}
#u4447.selected {
}
#u4447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u4448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u4448 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4448_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u4449_img.mouseOver {
}
#u4449.mouseOver {
}
#u4449_img.selected {
}
#u4449.selected {
}
#u4449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:232px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u4450_img.mouseOver {
}
#u4450.mouseOver {
}
#u4450_img.selected {
}
#u4450.selected {
}
#u4450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:272px;
  width:256px;
  height:40px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u4451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u4451_img.mouseOver {
}
#u4451.mouseOver {
}
#u4451_img.selected {
}
#u4451.selected {
}
#u4451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4452 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:312px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u4452_img.mouseOver {
}
#u4452.mouseOver {
}
#u4452_img.selected {
}
#u4452.selected {
}
#u4452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u4453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:352px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u4453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4454 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:408px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u4454_img.mouseOver {
}
#u4454.mouseOver {
}
#u4454_img.selected {
}
#u4454.selected {
}
#u4454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:448px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u4455_img.mouseOver {
}
#u4455.mouseOver {
}
#u4455_img.selected {
}
#u4455.selected {
}
#u4455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:488px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u4456_img.mouseOver {
}
#u4456.mouseOver {
}
#u4456_img.selected {
}
#u4456.selected {
}
#u4456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u4457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:528px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u4457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:584px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4458 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u4458_img.mouseOver {
}
#u4458.mouseOver {
}
#u4458_img.selected {
}
#u4458.selected {
}
#u4458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:624px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u4459_img.mouseOver {
}
#u4459.mouseOver {
}
#u4459_img.selected {
}
#u4459.selected {
}
#u4459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:664px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u4460_img.mouseOver {
}
#u4460.mouseOver {
}
#u4460_img.selected {
}
#u4460.selected {
}
#u4460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u4461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:704px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u4461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:760px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u4462_img.mouseOver {
}
#u4462.mouseOver {
}
#u4462_img.selected {
}
#u4462.selected {
}
#u4462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:800px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u4463_img.mouseOver {
}
#u4463.mouseOver {
}
#u4463_img.selected {
}
#u4463.selected {
}
#u4463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:840px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u4464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:880px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u4465_img.mouseOver {
}
#u4465.mouseOver {
}
#u4465_img.selected {
}
#u4465.selected {
}
#u4465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:920px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u4466_img.mouseOver {
}
#u4466.mouseOver {
}
#u4466_img.selected {
}
#u4466.selected {
}
#u4466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:960px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u4467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1000px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u4468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1040px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u4469_img.mouseOver {
}
#u4469.mouseOver {
}
#u4469_img.selected {
}
#u4469.selected {
}
#u4469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1080px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u4470_img.mouseOver {
}
#u4470.mouseOver {
}
#u4470_img.selected {
}
#u4470.selected {
}
#u4470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1120px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u4471_img.mouseOver {
}
#u4471.mouseOver {
}
#u4471_img.selected {
}
#u4471.selected {
}
#u4471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4472 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1160px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u4472_img.mouseOver {
}
#u4472.mouseOver {
}
#u4472_img.selected {
}
#u4472.selected {
}
#u4472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1200px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u4473_img.mouseOver {
}
#u4473.mouseOver {
}
#u4473_img.selected {
}
#u4473.selected {
}
#u4473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u4474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1240px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u4474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1296px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u4475_img.mouseOver {
}
#u4475.mouseOver {
}
#u4475_img.selected {
}
#u4475.selected {
}
#u4475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1336px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u4476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1376px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u4477_img.mouseOver {
}
#u4477.mouseOver {
}
#u4477_img.selected {
}
#u4477.selected {
}
#u4477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1416px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u4478_img.mouseOver {
}
#u4478.mouseOver {
}
#u4478_img.selected {
}
#u4478.selected {
}
#u4478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1456px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u4479_img.mouseOver {
}
#u4479.mouseOver {
}
#u4479_img.selected {
}
#u4479.selected {
}
#u4479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u4480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1496px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u4480_img.mouseOver {
}
#u4480.mouseOver {
}
#u4480_img.selected {
}
#u4480.selected {
}
#u4480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4481_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:263px;
  height:8px;
}
#u4481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:256px;
  height:1px;
  display:flex;
}
#u4481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1297px;
  height:2px;
}
#u4484 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:119px;
  width:1296px;
  height:1px;
  display:flex;
}
#u4484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4485 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4485 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u4485_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4485.selected {
}
#u4485_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u4486 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u4486 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4487 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4487 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u4487_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4487.selected {
}
#u4487_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u4488 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u4488 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4489 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4489 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u4489_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4489.selected {
}
#u4489_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u4490 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u4490 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4491 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4491 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u4491_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4491.selected {
}
#u4491_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u4492 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u4492 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4493 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4493 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u4493_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4493.selected {
}
#u4493_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u4494 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u4494 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4495 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4495 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u4495_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4495.selected {
}
#u4495_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u4496 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u4496 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:rgba(85, 85, 85, 0.647058823529412);
  line-height:22px;
}
#u4497 {
  border-width:0px;
  position:absolute;
  left:1544px;
  top:88px;
  width:32px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:rgba(85, 85, 85, 0.647058823529412);
  line-height:22px;
}
#u4497 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4498 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4498 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u4498_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4498.selected {
}
#u4498_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u4499 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u4499 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4500 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4500 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u4500_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u4500.selected {
}
#u4500_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u4501 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u4501 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
