body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:955px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:955px;
  display:flex;
}
#u8859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1296px;
  height:842px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u8860 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:88px;
  width:1296px;
  height:842px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u8860 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8861 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:88px;
  width:32px;
  height:56px;
}
#u8861_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:56px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8861_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8862 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:898px;
  width:32px;
  height:32px;
}
#u8862_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8862_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8863 {
  border-width:0px;
  position:absolute;
  left:1544px;
  top:898px;
  width:32px;
  height:32px;
}
#u8863_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8863_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8864 {
  border-width:0px;
  position:absolute;
  left:1544px;
  top:88px;
  width:32px;
  height:56px;
}
#u8864_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:56px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8864_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1344px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8866 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:1344px;
  height:64px;
  display:flex;
}
#u8866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u8867 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:25px;
  width:20px;
  height:15px;
  display:flex;
}
#u8867 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8869 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:20px;
  width:24px;
  height:24px;
  display:flex;
}
#u8869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u8870 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:0px;
  width:120px;
  height:64px;
  display:flex;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u8870 .text {
  position:absolute;
  align-self:center;
  padding:8px 0px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u8870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u8871 {
  border-width:0px;
  position:absolute;
  left:1560px;
  top:22px;
  width:16px;
  height:21px;
  display:flex;
}
#u8871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:955px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:955px;
  display:flex;
}
#u8873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u8875 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:31px;
  height:32px;
  display:flex;
}
#u8875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u8876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:64px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u8876 .text {
  position:absolute;
  align-self:center;
  padding:8px 0px 0px 56px;
  box-sizing:border-box;
  width:100%;
}
#u8876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:272px;
  height:891px;
}
#u8877_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:891px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8877_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:1280px;
}
#u8880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u8880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u8880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8881_img.mouseOver {
}
#u8881.mouseOver {
}
#u8881_img.selected {
}
#u8881.selected {
}
#u8881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8882_img.mouseOver {
}
#u8882.mouseOver {
}
#u8882_img.selected {
}
#u8882.selected {
}
#u8882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u8883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u8883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8884_img.mouseOver {
}
#u8884.mouseOver {
}
#u8884_img.selected {
}
#u8884.selected {
}
#u8884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:232px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8885_img.mouseOver {
}
#u8885.mouseOver {
}
#u8885_img.selected {
}
#u8885.selected {
}
#u8885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:272px;
  width:256px;
  height:40px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u8886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8886_img.mouseOver {
}
#u8886.mouseOver {
}
#u8886_img.selected {
}
#u8886.selected {
}
#u8886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:312px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8887_img.mouseOver {
}
#u8887.mouseOver {
}
#u8887_img.selected {
}
#u8887.selected {
}
#u8887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u8888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:352px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u8888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:408px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8889_img.mouseOver {
}
#u8889.mouseOver {
}
#u8889_img.selected {
}
#u8889.selected {
}
#u8889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:448px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8890_img.mouseOver {
}
#u8890.mouseOver {
}
#u8890_img.selected {
}
#u8890.selected {
}
#u8890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:488px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8891_img.mouseOver {
}
#u8891.mouseOver {
}
#u8891_img.selected {
}
#u8891.selected {
}
#u8891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:528px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8892_img.mouseOver {
}
#u8892.mouseOver {
}
#u8892_img.selected {
}
#u8892.selected {
}
#u8892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:568px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8893_img.mouseOver {
}
#u8893.mouseOver {
}
#u8893_img.selected {
}
#u8893.selected {
}
#u8893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u8894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:608px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u8894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:664px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8895_img.mouseOver {
}
#u8895.mouseOver {
}
#u8895_img.selected {
}
#u8895.selected {
}
#u8895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:704px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8896_img.mouseOver {
}
#u8896.mouseOver {
}
#u8896_img.selected {
}
#u8896.selected {
}
#u8896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:744px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8897_img.mouseOver {
}
#u8897.mouseOver {
}
#u8897_img.selected {
}
#u8897.selected {
}
#u8897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:784px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8898_img.mouseOver {
}
#u8898.mouseOver {
}
#u8898_img.selected {
}
#u8898.selected {
}
#u8898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:824px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8899_img.mouseOver {
}
#u8899.mouseOver {
}
#u8899_img.selected {
}
#u8899.selected {
}
#u8899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:864px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8900_img.mouseOver {
}
#u8900.mouseOver {
}
#u8900_img.selected {
}
#u8900.selected {
}
#u8900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:904px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8901_img.mouseOver {
}
#u8901.mouseOver {
}
#u8901_img.selected {
}
#u8901.selected {
}
#u8901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:944px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8902_img.mouseOver {
}
#u8902.mouseOver {
}
#u8902_img.selected {
}
#u8902.selected {
}
#u8902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:56px;
}
#u8903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:984px;
  width:256px;
  height:56px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u8903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1040px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8904_img.mouseOver {
}
#u8904.mouseOver {
}
#u8904_img.selected {
}
#u8904.selected {
}
#u8904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1080px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1120px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8906_img.mouseOver {
}
#u8906.mouseOver {
}
#u8906_img.selected {
}
#u8906.selected {
}
#u8906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1160px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8907_img.mouseOver {
}
#u8907.mouseOver {
}
#u8907_img.selected {
}
#u8907.selected {
}
#u8907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1200px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8908_img.mouseOver {
}
#u8908.mouseOver {
}
#u8908_img.selected {
}
#u8908.selected {
}
#u8908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u8909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1240px;
  width:256px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8909_img.mouseOver {
}
#u8909.mouseOver {
}
#u8909_img.selected {
}
#u8909.selected {
}
#u8909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8910_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:263px;
  height:8px;
}
#u8910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:256px;
  height:1px;
  display:flex;
}
#u8910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8912 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1297px;
  height:2px;
}
#u8913 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:119px;
  width:1296px;
  height:1px;
  display:flex;
}
#u8913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8914 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8914 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8914_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8914.selected {
}
#u8914_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u8915 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u8915 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8916 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8916 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8916_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8916.selected {
}
#u8916_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u8917 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u8917 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8918 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8918 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8918_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8918.selected {
}
#u8918_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u8919 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u8919 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8920 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8920 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8920_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8920.selected {
}
#u8920_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u8921 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u8921 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8922 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8922 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8922_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8922.selected {
}
#u8922_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u8923 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u8923 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8924 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8924 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8924_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8924.selected {
}
#u8924_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u8925 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u8925 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:rgba(85, 85, 85, 0.647058823529412);
  line-height:22px;
}
#u8926 {
  border-width:0px;
  position:absolute;
  left:1544px;
  top:88px;
  width:32px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:rgba(85, 85, 85, 0.647058823529412);
  line-height:22px;
}
#u8926 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0196078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8927 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8927 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8927_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8927.selected {
}
#u8927_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u8928 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u8928 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8929 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:88px;
  width:109px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8929 .text {
  position:absolute;
  align-self:center;
  padding:8px 36px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8929_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8929.selected {
}
#u8929_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u8930 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:98px;
  width:12px;
  height:13px;
  display:flex;
  opacity:0.65;
  font-size:72px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u8930 .text {
  position:absolute;
  align-self:center;
  padding:8px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
